<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org" style="background-color: lightgrey">
    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
                <i class="fa fa-map-marker" style="width:30px"></i> Скопје, Македонија<br>
                <i class="fa fa-phone" style="width:30px"></i> Телефон: +00 143 434 332<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: schoolemaill1233@gmail.com<br>
            </div>
            <div class="w3-col m6">
                <i  style="width:20px"></i><a href="/izvestuvanje">Огласна табла</a><br>
                <i  style="width:20px"></i><a href="/profesor">Наставен кадар</a><br>
                <i  style="width:30px"></i><a href="/predmet">Предмети</a><br>
                <i  style="width:30px"></i><a href="/contact">Контакт</a><br>
            </div>
        </div>
    </div>
</footer>