<th:block xmlns:th="http://www.thymeleaf.org">

    <div>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/izvestuvanje/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${izvestuvanje} != null ? ${izvestuvanje.getId()} : '')">
                    <div class="form-group">
                        <label for="naslov">Наслов</label>
                        <input type="text"
                               class="form-control"
                               id="naslov"
                               name="naslov"
                               th:value="(${izvestuvanje} != null ? ${izvestuvanje.getNaslov()} : '')"
                               required
                               placeholder="Внеси наслов">
                    </div>
                    <br>
                    <div class="form-group">
                    <label>Избери професор од кого е известуавњето</label>
                    <select name="profesorId" class="form-control">
                        <option th:if="${izvestuvanje} != null"
                                th:selected="${izvestuvanje.getProfesor() != null && izvestuvanje.getProfesor().getId() == izv.getId()}"
                                th:each="izv : ${izvestuvanje}"
                                th:value="${izv.getId()}"
                                th:text="${izv.getNaslov()}">
                        </option>
                        <option th:if="${izvestuvanje} == null"
                                th:each="prof : ${profesor}"
                                th:value="${prof.getId()}"
                                th:text="${prof.getIme()}">
                        </option>
                    </select>
                     </div>
                    <br>
                    <div>
                        <label>Категорија</label><br/>
                        <select id="kategorija" name="kategorija">
                            <!-- For each type you should have one <option> like below  -->
                            <option value="ucenickiaktivnosti">Ученички активности</option>
                            <option value="ekskurzii">Екскурзии</option>
                            <option value="dopolnitelnanastava">Дополнителна настава</option>
                            <option value="dodatnanastava">Додатна настава</option>
                            <option value="proekti">Проекти</option>
                            <option value="sportskiaktivnosti">Спортски активности</option>
                            <option value="humanitarniakcii">Хуманитари акции</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="kratokvoved">Кратко објаснување</label>
                        <input type="text"
                               class="form-control"
                               id="kratokvoved"
                               name="kratokvoved"
                               th:value="(${izvestuvanje} != null ? ${izvestuvanje.getKratokvoved()} : '')"
                               placeholder="Кратко објаснување">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="celoizvestuvanje">Содржина</label>
                        <input type="text"
                               class="form-control"
                               id="celoizvestuvanje"
                               name="celoizvestuvanje"
                               th:value="(${izvestuvanje} != null ? ${izvestuvanje.getCeloizvestuvanje()} : '')"
                               placeholder="Соджрина">
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">Објави</button>
                    <a type="button" class="btn btn-primary" href="/izvestuvanje">Назад</a>
                </form>
            </div>
        </div>
    </div>
</th:block>