<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Професор</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/profesor/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${profesor} != null ? ${profesor.getId()} : '')">
                    <div class="form-group">
                        <label for="ime">Име</label>
                        <input type="text"
                               class="form-control"
                               id="ime"
                               name="ime"
                               th:value="(${profesor} != null ? ${profesor.getIme()} : '')"
                               required
                               placeholder="Внеси име">
                    </div>
                    <div class="form-group">
                        <label for="prezime">Презиме</label>
                        <input type="text"
                               class="form-control"
                               id="prezime"
                               name="prezime"
                               th:value="(${profesor} != null ? ${profesor.getPrezime()} : '')"
                               placeholder="Внеси презиме">
                    </div>
                    <div class="form-group">
                        <label for="objasnuvanje">Вовед</label>
                        <input type="text"
                               class="form-control"
                               id="objasnuvanje"
                               name="objasnuvanje"
                               th:value="(${profesor} != null ? ${profesor.getObjasnuvanje()} : '')"
                               placeholder="Вовед">
                    </div>
                    <div class="form-group">
                        <label for="biografija">Општи информации</label>
                        <input type="text"
                               class="form-control"
                               id="biografija"
                               name="biografija"
                               th:value="(${profesor} != null ? ${profesor.getBiografija()} : '')"
                               placeholder="Општи информации">
                    </div>
                    <div class="form-group">
                        <label for="obrazovanieirabotnoiskustvo">Образование и работно искуство</label>
                        <input type="text"
                               class="form-control"
                               id="obrazovanieirabotnoiskustvo"
                               name="obrazovanieirabotnoiskustvo"
                               th:value="(${profesor} != null ? ${profesor.getObrazovanieirabotnoiskustvo()} : '')"
                               placeholder="Образование и работно искуство">
                    </div>
                    <div class="form-group">
                        <label for="datumodkogaraboti">Датум од кога е вработен</label>
                        <input type="text"
                               class="form-control"
                               id="datumodkogaraboti"
                               name="datumodkogaraboti"
                               th:value="(${profesor} != null ? ${profesor.getDatumodkogaraboti()} : '')"
                               placeholder="ДД/ММ/ГГ">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="email"
                               th:value="(${profesor} != null ? ${profesor.getEmail()} : '')"
                               placeholder="Email">
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Објави</button>
                    <a type="button" class="btn btn-primary" href="/profesor">Назад</a>
                </form>
            </div>
        </div>
    </div>


</th:block>