<th:block xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <form action="/contact/send" method="POST">
        <br>
        <h3>Доколку сакате да не контактирате ве молиме внесете ја вашата е-mail и пораката во полињата подолу</h3>
        <br>
        <div class="form-group">
            <br>
            <label for="email">E-mail: </label>
            <input type="text" class="form-control" id="email" name="email" required placeholder="Внеси email">
        </div>
        <br>
        <div class="form-group">
            <label for="message">Порака: </label>
            <input type="text" class="form-control" id="message" name="message" required
                   placeholder="Внеси порака">
        </div>
        <div th:if="${isSuccess}">
            <div th:text="${success}" class="text-danger"></div>
        </div>
        <br>

        <button type="submit" class="btn btn-sm btn-primary">
            Испрати
        </button>
        <br>
    </form>
</div>
</th:block>