<div xmlns:th="http://www.thymeleaf.org">

    <div class="container" th:if="${ucenik.size() > 0}">
        <div class="table-responsive-md">
        <table class="table table-bordered" th:each="ucenik : ${ucenik}">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td id="ucenik" name="ucenik" th:text="${ucenik.getImeiPrezime()}"></td>
                <td>
                    <ul class="list-group" th:each="predmet : ${ucenik.getPredmetinaucenik()}">
                        <li class="list-group-item" th:text="${predmet.getPredmet.getIme()}"><b th:text="${predmet.getOcenka()}"></b></li>
                        <li class="list-group-item" th:text="${predmet.getOcenka()}">Deleted <span class="badge">5</span></li>
                    </ul>

                </td>
                <th:block>
                    <a th:href="@{'/dnevnik/edit-form/{id}' (id=${ucenik.getId()})}"
                       class="btn btn-sm btn-info edit">
                        <i class="glyphicon glyphicon-edit">Уреди</i>
                    </a>
                </th:block>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>