<div xmlns:th="http://www.thymeleaf.org">

    <div class="container">
        <div>
            <div th:if="${izvestuvanje.size() > 0}">
                <div th:each="izvestuvanje : ${izvestuvanje}">
                        <div>
                            <br>
                            <div class="card" style="background-color: ghostwhite">
                            <h2 th:text="${izvestuvanje.getNaslov()}" style="text-align: center"></h2>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://st2.depositphotos.com/3643473/6063/i/600/depositphotos_60639935-stock-photo-man-giving-an-announcement-at.jpg"/>
                                      </div>
                                <div class="col-md-9">
                                    <h5 th:text="${izvestuvanje.getKratokvoved()}"></h5> <span>
                              <th:block>
                                    <a th:href="@{'/izvestuvanje/edit-form/{id}' (id=${izvestuvanje.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                              <th:block>
                                    <form th:action="@{'/izvestuvanje/delete/{id}' (id=${izvestuvanje.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                            <form th:action="@{'/izvestuvanje/details/{id}' (id=${izvestuvanje.getId()})}"
                                  th:method="GET">
                            <button type="submit"
                                    class="btn btn-sm btn-primary cart-product">
                                <i class="fa fa-trash">Read more</i>
                            </button>
                        </form>
                          </span>
                                </div>
                            </div>
                        </div>

                            <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/izvestuvanje/add-form" class="btn btn-block btn-dark add-product-btn">
                    Add new izvestuvanje
                </a>
            </div>
        </div>
    </div>
</div>







<div class="container">

<br>

    </div>
</div>