<div xmlns:th="http://www.thymeleaf.org">
<div>
    <br>
    <p></p>
</div>
    <div class="container" style="max-width:1400px;">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8" th:if="${izvestuvanje.size() > 0}">
                <div class="card text-center" th:each="izvestuvanje : ${izvestuvanje}">
                    <div th:text="${izvestuvanje.getKategorija()}" class="card-header">Featured</div>
                    <div class="card-body">
                        <h5 th:text="${izvestuvanje.getNaslov()}" class="card-title">NASA Launched Solar Probe</h5>
                        <p th:text="${izvestuvanje.getKratokvoved()}" class="card-text">NASA launched Parker space probe in 2018 with the mission of making observations of the outer corona of the Sun. It is the first-ever mission to "touch" the Sun.</p>
                        <p th:text="${izvestuvanje.getCeloizvestuvanje()}" class="card-text">NASA launched Parker space probe in 2018 with the mission of making observations of the outer corona of the Sun. It is the first-ever mission to "touch" the Sun.</p>
                        <span>
                              <th:block>
                                    <a th:href="@{'/izvestuvanje/edit-form/{id}' (id=${izvestuvanje.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                              <th:block>
                                    <form th:action="@{'/izvestuvanje/delete/{id}' (id=${izvestuvanje.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                          </span>
                    </div>
                    <div th:text="${izvestuvanje.getProfesor().getIme()}" class="card-footer text-muted">3 years ago</div>
                    <br>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/izvestuvanje/add-form" class="btn btn-block btn-dark add-product-btn">
                    Add new izvestuvanje
                </a>
            </div>
        </div>
    </div>
</div>