<div xmlns:th="http://www.thymeleaf.org">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" th:if="${profesor.size() > 0}">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                <div class="card">
                    <img src="https://p.kindpng.com/picc/s/78-786000_user-woman-avatar-person-business-woman-png-icon.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nastaven kadar</h5>
                        <p class="card-text">Procitajte gi site poznacsajni informacii za nastavnniot kadar vo naseto uciliste</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" th:each="profesor : ${profesor}">
            <div class="cards-wrapper">
                <div class="card">
                    <img src="https://p.kindpng.com/picc/s/78-786000_user-woman-avatar-person-business-woman-png-icon.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${profesor.getIme()}" class="card-title"></h5>
                        <h5 th:text="${profesor.getPrezime()}" class="card-title"></h5>
                        <p> hgcgcgfcfcfgcgcv gvgb vhv </p>
                        <form th:action="@{'/profesor/delete/{id}' (id=${profesor.getId()})}"
                              th:method="DELETE">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-product">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        </th:block>
                        <th:block>
                            <a th:href="@{'/profesor/edit-form/{id}' (id=${profesor.getId()})}"
                               class="btn btn-sm btn-info edit-product">
                                <i class="fa fa-trash">Edit</i>
                            </a>
                        </th:block>
                        <form th:action="@{'/profesor/details/{id}' (id=${profesor.getId()})}"
                              th:method="GET">
                            <button type="submit"
                                    class="btn btn-sm btn-primary cart-product">
                                <i class="fa fa-trash">Read more</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/profesor/add-form" class="btn btn-block btn-dark add-product-btn">
                    Add new profesor
                </a>
            </div>
        </div>
    </div>
</div>